.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  @media screen and (max-width: 1250px) {
    height: 75%;
    width: 70%;
    @media screen and (height: 600px) {
      height: 65%;
    }
  }
  @media screen and (max-width: 650px) {
    width: 90%;
  }
  @media screen and (max-width: 380px) {
    height: 70%;
  }
  .wrapper-forecast-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    @media screen and (max-width: 1250px) {
      justify-content: flex-start;
      overflow-y: scroll;
    }

    @media screen and (max-width: 650px) {
      height: 75%;
      @media screen and (max-height: 720px) {
        height: 60%;
      }
    }
    @media screen and (max-width: 400px) {
      height: 75%;
    }
    @media screen and (max-width: 360px) {
      height: 70%;
    }
    .forecast-card {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      width: 90%;
      margin-bottom: 15px;
      @media screen and (max-width: 1250px) {
        width: 100%;
        margin-bottom: 10px;
      }
      @media screen and (max-width: 650px) {
        margin-bottom: 15px;
      }
      .icon-small {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        padding: 5px;
        margin-right: 10px;
        background-color: rgba(165, 162, 162, 0.226);
        border-radius: 0.5rem;
        @media screen and (max-width: 1500px) {
          width: 40px;
          height: 40px;
        }
        @media screen and (max-width: 1250px) {
          width: 35px;
          height: 35px;
        }
      }
      .date-display-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 70%;
        @media screen and (max-width: 1500px) {
          font-size: 12px;
        }
        @media screen and (max-width: 1250px) {
          width: 80%;
        }
        @media screen and (max-width: 650px) {
          width: 100%;
        }
        .forecast-date {
          color: #c6d1cf;
          margin: 0;
        }
        .forecast-weather-display {
          margin: 0;
          color: #576c69;
        }
      }
      .border-forecast {
        border-left: 1px solid rgba(223, 231, 231, 0.2);
        height: 30px;
        @media screen and (max-width: 650px) {
          margin-right: 5px;
        }
        @media screen and (max-width: 400px) {
          height: 30px;
          margin-right: 5px;
        }
      }
      .min-max-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 5px;
        width: 15%;
        @media screen and (max-width: 1250px) {
          width: 10%;
          margin-left: 0px;
          font-size: 12px;
        }
        .forecast-tempmin {
          color: #c6d1cf;
          margin: 2px 0px;
        }
        .forecast-tempmax {
          color: #c6d1cf;
          margin: 2px 0px;
        }
      }
    }
  }
}
.forecast-days {
  color: #c6d1cf;
  font-size: 18px;
  @media screen and (max-width: 1250px) {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
  }
}
.five-days-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 25px;
  color: #c6d1cf;
  font-size: 16px;
  background-color: #42585a;
  border-radius: 0.5rem;
  @media screen and (max-width: 1250px) {
    width: 55px;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  @media screen and (max-width: 650px) {
    width: 50px;
    height: 18px;
  }
}
.border-middle {
  border-bottom: 1px solid rgba(223, 231, 231, 0.2);
  width: 75%;
  margin: 10px;
  @media screen and (max-width: 1250px) {
    width: 90%;
    margin: 5px 0px;
  }
  @media screen and (max-width: 400px) {
    width: 95%;
  }
}
