.wrapper-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  height: 100%;
  background-color: #13232231;
  @media screen and (max-width: 1250px) {
    height: 60%;
    width: 100%;
  }
  @media screen and (max-width: 530px) {
    height: 50%;
  }
  .top-display-date-clock {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 95%;
    margin-bottom: auto;
    .date {
      font-size: 18px;
      margin-top: 1rem;
      margin-bottom: 0;
      color: #f7f5f6;
      @media screen and (max-width: 1250px) {
        margin-top: 0px;
      }
      @media screen and (max-width: 530px) {
        font-size: 14px;
      }
      @media screen and (max-width: 400px) {
        font-size: 12px;
      }
    }
    .border_one {
      border-left: 1px solid rgb(192, 177, 177);
      margin: 0;
      height: 15px;
      margin-top: 18px;
      @media screen and (max-width: 1250px) {
        margin-top: 0px;
      }
      @media screen and (max-width: 530px) {
        height: 12px;
      }
    }
    .time {
      font-size: 18px;
      margin-top: 1rem;
      margin-bottom: 0;
      color: #f7f5f6;
      @media screen and (max-width: 1250px) {
        margin-top: 0px;
      }
      @media screen and (max-width: 530px) {
        font-size: 14px;
      }
      @media screen and (max-width: 400px) {
        font-size: 12px;
      }
    }
    @media screen and (max-width: 1250px) {
      justify-content: center;
      align-items: center;
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }
  .sides-weather-description-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 80%;
    height: 25%;
    background-color: #424948e1;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: auto;
    @media screen and (max-width: 1250px) {
      height: 40%;
      margin-bottom: 0;
      margin-top: 20px;
    }
    @media screen and (max-width: 1000px) {
      justify-content: space-between;
    }
    @media screen and (max-width: 530px) {
      width: 80%;
      height: 30%;
      gap: 0.5rem;
      padding: 1rem;
    }
    @media screen and (max-width: 400px) {
      height: 25%;
      gap: 0rem;
      margin-top: 10px;
    }
    .weather-icon-description {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 180px;
      height: 180px;
      border-radius: 1rem;
      background-color: rgba(15, 15, 15, 0.452);
      @media screen and (max-width: 530px) {
        width: 120px;
        height: 120px;
      }
      @media screen and (max-width: 400px) {
        width: 100px;
        height: 100px;
      }
      .weather-icon {
        width: 140px;
        height: 140px;
        @media screen and (max-width: 530px) {
          width: 60px;
          height: 60px;
        }
      }
      .weather-description {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        text-transform: uppercase;
        color: #f7f5f6;
        margin: 5px 0;
        @media screen and (max-width: 1400px) {
          font-size: 12px;
        }
        @media screen and (max-width: 1250px) {
          font-size: 16px;
        }
        @media screen and (max-width: 1000px) {
          font-size: 14px;
        }
        @media screen and (max-width: 530px) {
          font-size: 10px;
        }
        @media screen and (max-width: 400px) {
          font-size: 8px;
        }
      }
    }

    .sides-info {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      color: whitesmoke;
      font-size: 16px;
      width: 70%;
      height: 100%;
      @media screen and (max-width: 1660px) {
        font-size: 13px;
      }
      @media screen and (max-width: 1250px) {
        justify-content: center;
        font-size: 16px;
        padding: 1rem;
        gap: 1rem;
        flex-direction: row;
      }
      @media screen and (max-width: 1070px) {
        font-size: 14px;
      }
      @media screen and (max-width: 1000px) {
        width: 60%;
        flex-direction: column;
        gap: 0;
        padding: 0;
      }
      @media screen and (max-width: 530px) {
        font-size: 12px;
      }
      @media screen and (max-width: 400px) {
        font-size: 10px;
      }
      .left-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        @media screen and (max-width: 1250px) {
          width: 100%;
        }

        p {
          width: 80%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 10px 0px;
          @media screen and (max-width: 1000px) {
            justify-content: center;
            width: 100%;
            margin: 5px 0px;
          }
          @media screen and (max-width: 530px) {
            margin: 3px 0px;
          }
        }
      }
      .bordred-sides {
        border-right: 1px solid rgba(131, 128, 128, 0.301);
        height: 40%;

        @media screen and (max-width: 1250px) {
          border-right: 1px solid rgba(131, 128, 128, 0.301);
          height: 50%;
          width: 1px;
        }
        @media screen and (max-width: 1070px) {
          height: 40%;
        }
        @media screen and (max-width: 1000px) {
          border-top: 1px solid rgba(131, 128, 128, 0.301);
          width: 90%;
          height: 1px;
          margin: 5px 0px;
          margin-right: 12px;
        }
        @media screen and (max-width: 530px) {
          width: 60%;
          margin: 2px 0px;
        }
      }
      .right-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        @media screen and (max-width: 1250px) {
          width: 100%;
        }

        p {
          width: 80%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 10px 0px;
          @media screen and (max-width: 1250px) {
            justify-content: flex-start;
          }
          @media screen and (max-width: 1000px) {
            justify-content: center;
            width: 100%;
            margin: 5px 0px;
          }
          @media screen and (max-width: 530px) {
            margin: 3px 0px;
          }
        }
      }
    }
  }
  .border_bottom {
    border-top: 1px solid rgb(131, 128, 128);
    width: 93%;
    margin-bottom: 1rem;
    @media screen and (max-width: 1250px) {
      margin: 0.5rem 0;
      width: 80%;
    }
  }
  .wrapper-bottom-display-wheater-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 90%;

    @media screen and (max-width: 1900px) {
      justify-content: start;
      gap: 1rem;
      overflow-x: scroll;
    }
    @media screen and (max-width: 1250px) {
      justify-content: center;
      gap: 0.5rem;
      overflow: hidden;
    }
    @media screen and (max-width: 1110px) {
      justify-content: start;
      gap: 1rem;
      overflow-x: scroll;
    }

    .bottom-display-wheater-info {
      display: flex;
      justify-content: center;
      align-items: center;

      .by-3h-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .by-3h-card {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 90px;
          height: 145px;
          background-color: #424948;
          color: #f7f5f6;
          font-size: 20px;
          border-radius: 1rem;
          margin-bottom: 1rem;
          @media screen and (max-width: 1250px) {
            margin-bottom: 1rem;
          }

          @media screen and (max-width: 400px) {
            width: 65px;
            height: 110px;
          }

          .by-3h-time {
            margin-top: 0.8rem;
            margin-bottom: 0;
            @media screen and (max-width: 1250px) {
              margin: 0;
            }

            @media screen and (max-width: 400px) {
              font-size: 16px;
            }
          }
          .border_two {
            border-top: 1px solid rgba(129, 155, 150, 0.479);
            width: 45%;
            margin-bottom: 0.8rem;
            @media screen and (max-width: 1250px) {
              margin-bottom: 0.5rem;
            }
          }
          .icon-small-three {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            background-color: rgba(15, 15, 15, 0.452);
            border-radius: 0.5rem;
            @media screen and (max-width: 400px) {
              width: 35px;
              height: 35px;
            }
          }
          .by-3h-temperature {
            font-weight: 600;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            @media screen and (max-width: 1250px) {
              margin-bottom: 0;
            }
            @media screen and (max-width: 400px) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #132322a9;
  color: whitesmoke;
  width: 75%;
  height: 100%;
  font-style: italic;
  font-size: 26px;
  @media screen and (max-width: 1250px) {
    width: 100%;
    height: 100%;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #424948;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(15, 15, 15, 0.5);
  border-radius: 10px;
}
