.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  @media screen and (max-width: 1250px) {
    height: 10%;
    margin-top: 5px;
    margin-bottom: 0;
  }
  @media screen and (max-width: 400px) {
    margin-top: 15px;
  }
  @media screen and (max-width: 380px) {
    margin-top: 15px;
  }
  .top-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (max-width: 1250px) {
      gap: 2rem;
      flex-direction: row;
    }
    @media screen and (max-width: 530px) {
      gap: 1rem;
    }
    @media screen and (max-width: 450px) {
      gap: 0.7rem;
    }
    @media screen and (max-width: 420px) {
      gap: 1rem;
    }
    @media screen and (max-width: 300px) {
      gap: 0.4rem;
    }
    .temperature {
      font-size: 65px;
      font-weight: 525;
      letter-spacing: -5px;
      color: #f7f5f6;
      margin-bottom: 20px;
      margin-top: 20px;
      @media screen and (max-width: 1500px) {
        font-size: 50px;
      }
      @media screen and (max-width: 1250px) {
        letter-spacing: -2px;
        font-size: 30px;
        margin: 0;
      }
      @media screen and (max-width: 450px) {
        font-size: 18px;
      }
      @media screen and (max-width: 420px) {
        font-size: 22px;
      }
    }
    .parameter-row-wind {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
      .wind-icon {
        color: #f7f5f6;
        font-size: 20px;
        animation: fadeLeftToRight 5s ease forwards;
        animation-iteration-count: infinite;
        @media screen and (max-width: 1250px) {
          font-size: 16px;
        }
        @media screen and (max-width: 530px) {
          font-size: 14px;
        }
        @media screen and (max-width: 450px) {
          font-size: 13px;
        }
        @media screen and (max-width: 420px) {
          font-size: 14px;
        }
        @keyframes fadeLeftToRight {
          from {
            opacity: 0.2;
            transform: translateX(-5px);
          }
          to {
            opacity: 1;
            transform: translateX(1px);
          }
        }
      }
      .wind-side {
        color: #576c69;
        margin: 0;
        @media screen and (max-width: 1250px) {
          font-size: 14px;
        }
        @media screen and (max-width: 530px) {
          font-size: 12px;
        }
        @media screen and (max-width: 450px) {
          font-size: 10px;
        }
        @media screen and (max-width: 420px) {
          font-size: 14px;
        }
      }
      .wind-speed {
        color: #576c69;
        margin: 0;
        @media screen and (max-width: 1250px) {
          font-size: 14px;
        }
        @media screen and (max-width: 530px) {
          font-size: 12px;
        }
        @media screen and (max-width: 450px) {
          font-size: 10px;
        }
        @media screen and (max-width: 420px) {
          font-size: 14px;
        }
      }
    }
    .city {
      color: #f7f5f6;
      margin-top: 3px;
      margin-bottom: 0;
      @media screen and (max-width: 1250px) {
        font-size: 14px;
        margin: 0;
      }
      @media screen and (max-width: 530px) {
        font-size: 12px;
      }
      @media screen and (max-width: 450px) {
        font-size: 10px;
      }
      @media screen and (max-width: 420px) {
        font-size: 14px;
      }
    }
  }
}
