.wrapper-search {
  display: flex;
  align-items: center;
  justify-content: center;

  .css-b62m3t-container {
    margin-top: 2rem;
    color: white;
  }
  .css-13cymwt-control {
    background-color: rgba(255, 255, 255, 0);
    color: white;
  }
  .css-1dimb5e-singleValue {
    color: white;
  }
  .css-t3ipsp-control {
    background-color: rgba(255, 255, 255, 0);
    color: white;
  }
  .css-1nmdiq5-menu {
    background-color: rgb(37, 36, 36);
    color: rgb(130, 25, 190);
  }
  .css-1jqq78o-placeholder {
    color: white;
  }
  .css-1jqq78o-placeholder {
    color: white;
  }
  .css-166bipr-Input {
    color: white;
  }
}
