.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper-left-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://images.unsplash.com/photo-1496450681664-3df85efbd29f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    width: 70%;
    height: 80vh;
    border-radius: 0.8rem;
    border: solid gray 10px;
    gap: 1px;
    margin-top: 5rem;
    @media screen and (max-width: 1250px) {
      flex-direction: column-reverse;
    }
  }
}
