.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .wrapper-left-right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80vh;
    border-radius: 0.8rem;
    border: solid rgb(161, 199, 223) 8px;
    gap: 1px;
    @media screen and (max-width: 1250px) {
      flex-direction: column-reverse;
      gap: 0px;
    }
    @media screen and (max-width: 400px) {
      width: 90%;
      height: 95vh;
    }
    .img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
