.container {
  display: flex;
  align-items: center;
  justify-content: center;
  .wrapper-left-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(179, 169, 169, 0.829);
    width: 70%;
    height: 80vh;
    border-radius: 0.5rem;
    border-color: rgb(233, 227, 227);
    border: solid gray 7px;
    gap: 0.2rem;
    margin-top: 5rem;
  }
}
